* {
  box-sizing: border-box
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth
}

body {
  font-size: 1.6rem ;
  font-family: 'Sora', sans-serif;
}

a {
  text-decoration: none
}

img,
svg {
  display: block;
  max-width: 100%
}

input,
textarea,
select,
button {
  font: inherit
}

/*  common  */
.content {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}



