*,
*::after,
*::before {
  box-sizing: border-box
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth
}

body {
  font: 1.6rem "DM Sans", sans-serif
}

a {
  text-decoration: none
}

img,
svg {
  display: block;
  max-width: 100%
}

input,
textarea,
select,
button {
  font: inherit
}

/*  main  */

